.canonical-unit-select {
    -webkit-appearance: none; /* remove default arrow on Chrome/Safari */
    -moz-appearance: none;    /* remove default arrow on Firefox */
    appearance: none;
    background-color: #f3f4f6;
    color: #111827;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 6px 12px;
    background-image: url("data:image/svg+xml;charset=US-ASCII,<svg xmlns='http://www.w3.org/2000/svg' width='12' height='12'><polygon points='0,0 12,0 6,6' fill='black'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
    flex: 1 1 auto;
    min-width: 0; 
}
#ingredient-name-input {
    appearance: none;
    background-color: #f3f4f6;
    color: #111827;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 6px 12px;
    flex: 1 1 auto;
    min-width: 0;    
}
#ingredient-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
    padding: 3%;
}
#ingredient-form > label {
    display: flex;
    flex-wrap: wrap;    
    text-align: start;
    align-items: center;
    gap: 0.5rem; 
    max-width: 100%; 
}
#ingredient-form > label > span {
    flex-shrink: 1;         
    min-width: 0; 
    white-space: nowrap; 
}